@use "styles/index" as *;
@use "sass:color";

* {
  all: unset;
  box-sizing: border-box;
}

.body {
  background-color: $background;
  color: $on-surface;

  .nav {
    height: $nav-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    .left {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 0 0 0 1rem;

      .title{
        font-size: 1.5rem;
        transform:scaleY(1.2);
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2rem;

      .sign-up-button {
        // @include brutalist-button;
        margin:0 1rem 0 0;
        @include pill-button-style($primary-color: $primary-color,
          $on-primary: $on-primary,
          $hover-color: color.scale($primary-color,  $lightness:-5%),
          $active-color: color.scale($primary-color,  $lightness:-10%));
      }
    }
  }
}
