@use "../styles/index" as *;

.body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;

    // opacity: 0.9;
    .container {
      background-color: $background-login;
      padding: $padding-container;
      display: flex;
      border-radius: $border-radius-container-login;
    }

    .login-page {
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: space-around;
      align-items: start;
      background-image: linear-gradient(#ffffff0d, #ffffff0d);
      // background-image: linear-gradient($primary-frontend-background,$secondary-frontend);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      --webkit-backdrop-filter: blur(5px);

      .login-title {
        font-size: $login-title-font-size;
        padding: 0rem 0 2rem 0;
      }

      .login-label {
        color: black;
      }

      .btn-row {
        width: 10rem;
      }
    }

    .login-submit-button {
      background-color: black;
      width: 20rem;
      margin: 0.2rem;
      padding: 0.6rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      margin: 2rem 0 0 0;
    }

    .bg-o {
      z-index: -1;
      font-size: 80rem;
      position: absolute;
      overflow: hidden;
    }

    .top {
      top: -70%;
      left: 50%;
    }

    .bottom {
      top: 20%;
      left: 0%;
    }

    .tl {
      top: -85%;
      left: -23%;
    }

    .br {
      top: 50%;
      left: 80%;
    }

    .login-hero-image {
      position: relative;

      .hero-image-text {
        padding: 0 0 1rem 2rem;
        position: absolute;
        font-weight: bold;
        font-size: 1.4rem;
        top: 88.42%;
        left: -0.56%;
        z-index: 2;
        transform: scaleY(1.4);
      }

      .hero-image {
        overflow: hidden;
        width: 20rem;
        height: 30rem;
        object-fit: cover;
        opacity: 0.8;
        margin: 0 2rem 0 0;
        border-radius: calc(
          $border-radius-container-login - calc(
              $border-radius-container-login * 0.3
            )
        );
      }
    }
  }
}

@media screen and (max-width: $large-x) {
  // .body{
  //   margin:0px;
  // }

  .body {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login-hero-image {
        display: flex;
        justify-content: center;
        width: 40vw;
        height: 40vh;

        .hero-image {
          margin: 0px;
          width: 100%;
          height: 100%;
        }
      }

      .login-page {
        width: 100%;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;

        .input-field-form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .input-field-form label {
          font-weight: bold;
        }

        .margin-top {
          margin: 0.6rem 0 0 0;
        }
      }
    }
  }
}

