// colors
$primary-background: #0d0a0b;
$primary-frontend-background: #ed254e;
$secondary-frontend: #b7c3f3;
$info: #3454d1;
$warning: #ff9000;
$white: #FFFFFF;

// responsive breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$large-x:1200px;
$large-x-x: 1400px;

//general
$url-unvisited: rgb(0,0,255);
$url-visited:rgb(128, 0, 128);


// nav styles
$margin-nav: 0.5rem;
$height-nav:3.5rem;
// signup button styles

$padding-signUp: 0.8rem;
$border-radius-signUp: 1.5rem;

// login page variables
$background-login:#e5e5e5;
$padding-container:2rem;
$border-radius-container-login: 4rem;
$login-title-font-size: 3rem;
$login-label-color:#000000;
// input field
$input-margin: 1rem;
