//color palette
$primary-color: #e200ee;
$primary-variant: #3700b3;
$secondary-color: #03dac6;
$secondary-variant: #018786;
$background: #ffffff;
$surface: #ffffff;
$error: #b00020;
$on-primary: #ffffff;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #ffffff;
$warning: #ffde03;

// nav
$nav-height: 5vh;

// login page variables
$login-card-border-radius: 3.5rem;
$login-card-padding: 2rem;

// signup page variables
$signup-card-border-radius: 3.5rem;
$signup-card-padding: 2rem;
